.date {
    margin: 0 auto;
    text-align: center;
}

.react-datepicker-wrapper {
    margin-bottom: 15px;
}

button {
    display: block;
    margin: 0 auto;
    border: none;
    background-color: #008CBA;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.chartjs-render-monitor {
    margin-top: 15px;
}